Repository TheLarhand/Coop_project, pull requests merged in 2025-09, with the labels that each got.

#11 feat: Profile updates
  src/api/api.ts
  src/pages/ProfilePage/ProfilePage.module.scss
  src/pages/ProfilePage/ProfilePage.tsx
  src/shared/ui/ProfileModal/ProfileModal.module.scss
  src/shared/ui/ProfileModal/ProfileModal.tsx
  src/store/slices/authSlice.ts
  src/store/slices/profileSlice.ts
Labels: Work in Progress, Profile, UI/Style, Slices, Bug Fix, API

#15 New templates
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#16 CreateTaskPage
  src/pages/CreateTask/CreateTask.module.scss
  src/pages/CreateTask/CreateTaskPage.tsx
  src/shared/ui/Input/Input.tsx
  src/shared/ui/Select/Select.tsx
  src/shared/ui/Textarea/Textarea.tsx
  src/store/store.ts
Labels: Bug, Task Form, UI/Style

#17 Profile page fixes (required in inputs & name in stats)
  src/pages/ProfilePage/ProfilePage.tsx
Labels: Profile, Bug Fix

#20 Выбор даты, отправка в API
  src/api/api.ts
  src/pages/CreateTask/CreateTaskPage.tsx
  src/shared/types/types.ts
  src/shared/ui/Input/Input.tsx
  src/store/slices/taskAddSlice.ts
  src/store/store.ts
Labels: Task Form, Slices, Store, Bug Fix, API

#24 feat: upgraded design & bug fix
  src/pages/CreateTask/CreateTaskPage.tsx
  src/pages/ProfilePage/ProfilePage.module.scss
  src/pages/ProfilePage/ProfilePage.tsx
Labels: Profile, UI/Style, Bug Fix

#30 feat: Profile Page upgrade & bug fix
  src/pages/CreateTask/CreateTaskPage.tsx
  src/pages/ProfilePage/ProfilePage.module.scss
  src/pages/ProfilePage/ProfilePage.tsx
Labels: Profile, UI/Style, Bug Fix

#32 Profile page adaptive
  src/pages/ProfilePage/ProfilePage.module.scss
  src/shared/ui/ProfileModal/ProfileModal.module.scss
Labels: Profile, UI/Style

#33 dashboard/ui: единый контейнер, ровная сетка карточек, фикс ширины header/footer, KPI брейкпоинты, tooltip
  src/features/dashboard/StatsHeader/StatsHeader.module.scss
  src/features/dashboard/StatsHeader/StatsHeader.tsx
  src/features/dashboard/UserStatCard/UserStatCard.module.scss
  src/features/dashboard/ui.module.scss
  src/index.css
  src/layouts/Footer.tsx
  src/layouts/Header.tsx
  src/layouts/Layout.module.scss
  src/pages/StatisticPage.module.scss
  src/pages/StatisticPage.tsx
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Tooltip/Tooltip.module.scss
  src/shared/ui/Tooltip/Tooltip.tsx
  src/store/selectors/statisticsSelectors.ts
  src/styles/reset.css
Labels: Dashboard/Overview, UI/Style
